<div class="gvis-wrapper">
    <h1>What happens next?</h1>
    <div class="flowchart">
        <div class="choice-wrapper">
            
            <div class="date">Wednesday 17 June</div>
            <div class="choice">The European Central Bank’s governing council meets and will discuss continuing support to the Greek financial system through Emergency Liquidity Assistance (ELA)</div>
            
            <div class="options-wrapper">
                <span class="option-a">The ECB decides to keep its drip-feed of support for the Greek banking system open, providing vital liquidity as worried Greek savers continue to take money out of their accounts. ECB chief Mario Draghi has already hinted that this would happen.</span><span class="option-b">The ECB decides enough is enough and that there is no point in risking potential taxpayer losses. It is, after all, called “emergency” liquidity assistance. This would be a highly political move by the ECB and bring the crisis to a head. Greece would almost certainly announce immediate capital controls, whereby access to bank accounts is restricted to stem a massive outflow of deposits. Cutting off ECB support would force Athens to choose between accepting the austerity measures demanded by its international creditors or defaulting on its debts.</span>
            </div>
        </div>
        
        <div class="choice-wrapper">
            <div class="date">Thursday 18 June</div>
            
            <div class="choice">Eurozone finance ministers convene in Luxembourg for what has been billed as a make-or-break meeting on Greece’s debt crisis</div>
            <div class="options-wrapper">
                <span class="option-a">Thursday’s talks succeed. Somebody blinks. Greece and its creditors agree a programme of economic reforms that allows the rest of Greece’s bailout - €7.2bn - to be disbursed. Greece pays the IMF on time. Negotiations begin on a third bailout.</span><span class="option-b">Thursday’s talks fail. Neither side blinks. The prospect of Greece defaulting on its debts leads to speculation that the European Central Bank will cut off emergency funding. Hopes now rest on an emergency summit of EU leaders to be called in Brussels.</span><span class="option-c">Thursday’s talks fail and panic spreads through financial markets that a Greek default is almost certain and will precipitate its exit from the eurozone. To prevent a run on banks, Athens announces capital controls. Bank deposits are frozen, cash points no longer work, taking money out of the country is prohibited. Greece says it wants to stay in the euro but will hold a referendum on the issue.</span>
            </div>
        </div>
        
        <div class="choice-wrapper">
            <div class="choice">If talks in Luxembourg fail, officials have already indicated they will call a special summit of EU leaders over the days that follow.</div>
            <div class="date">Friday 19 June</div>
            <div class="options-wrapper">
                <span class="option-a">A compromise deal is reached to allow Greece to stay in the euro. Its creditors say it can only stay in the single currency if it plays by the rules but the violent market reaction to the breakdown of Thursday’s Luxembourg talks make it possible to find an agreement on what have been sticking points for months: Greece’s VAT rates, pensions and labour market policies.</span><span class="option-b">Even now a compromise proves impossible. Greece fails to convince its creditors to release €7.2bn of held-up rescue funds, without which it will not be able to pay €1.6bn due to the International Monetary Fund on 30 June. The sell-off on Greek and other European stock markets intensifies when they re-open on Monday 22 June.</span>
            </div>
        </div>
        
        <div class="endresults-wrapper">
            <div class="endresult" id="a1"> Greece has been forced to impose capital controls, but their introduction is unpopular and leads to a political crisis. Fresh elections are called. A second victory for Syriza forces the other 18 members of the single currency to soften their approach. Greece stays in the euro and has its debts written down. Austerity is softened.</div>
            <div class="endresult" id="a2"> Greece is forced to call elections and another victory for Syriza makes the government in Athens even more determined to resist fresh austerity. However, its EU partners do not relent and Greece must choose whether it wants to stay in the euro. The entire eurozone project comes under pressure as Greece’s bid to thrive outside the single currency inspires other countries to follow.</div>
            <div class="endresult" id="a3">Elections are called in Greece and a defeat for Syriza brings a centre right or centre left led government back to power. It accepts the terms demanded by the European Commission, the European Central Bank and the International Monetary Fund. Greece stays in the euro. Austerity continues.</div>
            <div class="endresult" id="a4">A way is found to kick the can down the road. The 30 June deadline to pay €1.6bn due to the IMF is missed but the IMF says that it will allow Greece to delay its payment while negotiations continue. </div>

        </div> 
    </div>
</div>
