<div class="gvis-wrapper">
    <h1>What happens next?</h1>
    <div class="flowchart">
        <div class="choice-wrapper">
            <div class="choice"></div>
            <div class="date"></div>
            <div class="options-wrapper">
                <span class="option-a"></span><span class="option-b"></span>
            </div>
        </div>
            <div class="option-wrapper">
            <div class="option"></div>
            <div class="date"></div>
            <div class="options-wrapper">
                <span class="option-a"></span><span class="option-b"></span>
            </div>
        </div>
        <div class="endresults-wrapper">
            <div class="endresult" id="a1"></div>
            <div class="endresult" id="a2"></div>
        </div> 
    </div>
</div>
